{% extends 'layout.html.twig' %}

{% block title %}Log in{% endblock %}

{% block appWindow %}
    <div class="container-fluid">
        <div class="col-lg-12" id="mainWindow">
            {{ block('part1') }}
        </div>
    </div>

{% endblock %}

{% block part1 %}
    <div>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}