.thumbnail_active {
    background-color: lightblue;
}

/* datatables */
#param_datatable thead{
    text-align: center;
}

.paramDelete{
    margin: 0px;
}

.addRow{
    float: left;
}

.analyse_toolbar{
    background-color: lightsteelblue;
    margin-bottom: 20px;
    text-align: center;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.paramAttrLabel{
    width: 50%;
}

.paramAttribute{
    width: 45%;
}