{% block analyse_list %}
    {% for analyse in analyse_list %}
        <div class="col-lg-3">
            <div class="thumbnail analyse_thumbnail">
                <div class="caption text-center">
                    <input type="hidden" class="analyse_id" value="{{ analyse.getId }}">
                    <h4>{{ analyse.getName }}</h4>
                    <p>description</p>
                    <p><a href="{{ path('analyse_edit', {'analyseId': analyse.getId}) }}" class="btn btn-primary" role="button"><i class="fa fa-pencil-square-o"></i></a> <a href="#" class="btn btn-danger" role="button"><i class="fa fa-trash"></i></a></p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}