{% extends 'layout.html.twig' %}

{% block title %}Je suis un bordel{% endblock %}

{% block appWindow %}
    <div class="container-fluid">
        <div class="col-lg-12" id="mainWindow">
            main window
        </div>

    </div>

{% endblock %}