{% extends 'layout.html.twig' %}

{% block title %}Log in {% endblock %}

{% block body %}


    coucou
    {#<div id="content">
        {{ block('test2') }}
    </div>#}

{% endblock %}


{% block test2 %}
    ceci est mon block test2
{% endblock %}